@charset "UTF-8";
/* CSS reset */
html {
  color: #000;
  background: #FFF;
  font-family: Arial,'Microsoft YaHei','宋体'; }

/*清除默认的内边距和外边距等*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong {
  padding: 0;
  margin: 0;
  font-family: 'Microsoft YaHei',Arial,'宋体'; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*清除默认边框*/
fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #000000;
  outline: none; }

/*此处待添加默认链接颜色*/
var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

/*清除默认的字体大小和文字粗细*/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none; }

/*去除移动端点击事件出现的背景框*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/*清除浮动*/
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

/*清除浮动的兼容IE*/
.clearfix {
  *zoom: 1; }

.right-arrow-noPosition {
  width: 0.1rem;
  height: 0.1rem;
  display: block;
  transform: rotate(45deg);
  border-right: 2px solid #999999;
  border-top: 2px solid #999999; }

.left-arrow-noPosition {
  width: 0.1rem;
  height: 0.1rem;
  display: block;
  transform: rotate(-45deg);
  border-left: 2px solid #999999;
  border-top: 2px solid #999999; }

.bottom-solid-triangle {
  border-top: 0.1rem solid #0D182E;
  border-left: 0.1rem  solid transparent;
  border-right: 0.1rem  solid transparent; }

.border {
  border: none !important;
  position: relative; }
  .border:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F9F9FB;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }

html {
  font-size: 13.3333333333vw; }

body {
  background: url("../images/45-bg.jpg") no-repeat;
  width: 100%;
  background-size: cover; }

.active-button {
  background: #2e6eff;
  color: #fff !important; }

.header .head-in {
  height: 1.14rem;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; }
  .header .head-in .left-arrow-noPosition {
    width: 0.18rem;
    height: 0.18rem;
    border-color: #fff; }
  .header .head-in p {
    font-size: 0.32rem;
    color: #fff;
    font-weight: bold; }
  .header .head-in span {
    font-size: 0.28rem;
    color: #fff; }

.theme .theme-in {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .theme .theme-in img {
    margin-top: 0.44rem;
    width: 5.66rem; }
  .theme .theme-in .share {
    margin-top: 0.38rem;
    height: 0.68rem;
    width: 2.26rem;
    background: #fdd41d;
    border-radius: 0.34rem;
    line-height: 0.68rem;
    text-align: center;
    font-size: 0.36rem;
    color: #2E6EFF;
    letter-spacing: 0.03rem; }

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.6rem;
  height: 2.6rem;
  margin: 0.39rem auto 0 auto;
  border-radius: 0.14rem;
  background-color: #fff; }
  .code > div {
    display: flex;
    justify-content: center;
    align-items: center; }
  .code .up img {
    width: 0.9rem; }
  .code .up h2 {
    font-size: 0.34rem;
    color: #25303E;
    margin: 0 0.21rem;
    font-weight: bold; }
  .code .center {
    margin-top: 0.39rem;
    margin-bottom: 0.37rem;
    height: 0.46rem; }
    .code .center h1 {
      color: #2E6EFF;
      font-size: 0.54rem;
      font-weight: bold;
      margin-right: 0.14rem; }
    .code .center .link {
      width: 1.4rem;
      height: 0.46rem;
      background: #e0e9ff;
      border-radius: 0.23rem;
      text-align: center;
      font-size: 0.22rem;
      color: #2e6eff;
      line-height: 0.46rem; }
  .code .info {
    color: #75808E;
    font-size: 0.26rem; }

.invitation {
  box-sizing: border-box;
  margin: 0.19rem auto 0 auto;
  padding: 0.48rem  0.3rem 0 0.4rem;
  width: 6.6rem;
  border-radius: 0.14rem;
  background-color: #fff; }
  .invitation .up {
    height: 0.32rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .invitation .up img {
      width: 0.9rem; }
    .invitation .up h2 {
      font-size: 0.34rem;
      color: #25303E;
      margin: 0 0.21rem;
      font-weight: bold; }
  .invitation .center {
    margin-top: 0.33rem;
    margin-bottom: 0.39rem;
    height: 0.56rem;
    display: flex;
    justify-content: space-around; }
    .invitation .center div {
      height: 0.56rem;
      width: 1.67rem;
      line-height: 0.56rem;
      text-align: center;
      border-radius: 0.28rem;
      font-size: 0.28rem;
      color: #2C2C2C; }
  .invitation .direct-content ul li {
    display: flex;
    height: 0.94rem;
    justify-content: space-between;
    align-items: center; }
    .invitation .direct-content ul li .people {
      width: 2.3rem;
      display: flex;
      align-items: center;
      height: 0.54rem; }
      .invitation .direct-content ul li .people .picture {
        margin-right: 0.18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0.54rem;
        height: 100%;
        border-radius: 50%;
        overflow: hidden; }
        .invitation .direct-content ul li .people .picture img {
          width: 100%; }
      .invitation .direct-content ul li .people .name {
        font-size: 0.26rem;
        color: #4E5866; }
    .invitation .direct-content ul li .money {
      color: #FF3A3A;
      font-size: 0.22rem; }
      .invitation .direct-content ul li .money .number {
        font-size: 0.28rem; }
    .invitation .direct-content ul li .time {
      font-size: 0.24rem;
      color: #848A94; }
  .invitation .indirect-content {
    display: none; }
    .invitation .indirect-content .content {
      display: flex;
      justify-content: space-around; }
      .invitation .indirect-content .content div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .invitation .indirect-content .content div span:first-child {
          font-size: 0.24rem;
          color: #75808E; }
        .invitation .indirect-content .content div .int {
          margin-top: 0.23rem;
          margin-bottom: 0.46rem; }
      .invitation .indirect-content .content .left .int {
        font-size: 0.46rem;
        color: #2C2C2C;
        font-weight: bold; }
      .invitation .indirect-content .content .right .int {
        font-size: 0.42rem;
        color: #FF3A3A;
        font-weight: bold; }

.rules {
  padding-top: 0.38rem;
  padding-bottom: 0.63rem;
  width: 6.03rem;
  margin: 0 auto;
  border-color: rosybrown; }
  .rules h1 {
    font-size: 0.3rem;
    color: #fff;
    font-weight: bold;
    text-align: center; }
  .rules > p {
    margin: 0.19rem auto 0.23rem auto;
    width: 0.63rem;
    height: 0.03rem;
    opacity: 0.3;
    background: #e9f0f7; }
  .rules > div {
    display: flex;
    margin-top: 0.29rem;
    justify-content: flex-start; }
    .rules > div .Serial-number {
      width: 0.36rem;
      height: 0.36rem;
      background-color: #fff;
      line-height: 0.36rem;
      text-align: center;
      color: #2E6EFF;
      margin-right: 0.16rem;
      font-size: 0.24rem;
      border-radius: 50%; }
    .rules > div .text {
      font-size: 0.24rem;
      color: #fff;
      line-height: 0.4rem;
      max-width: 5.51rem; }

/*# sourceMappingURL=45-yaoqinfriends.css.map */
