@import "reset";
@import "lw-variables";
@import "lw-common";

html {
  font-size: (100vw/7.5);
}
.active-bar{
  font-weight: bold;
  position: relative;
  font-size: 0.28rem!important;
  &:after{
    position: absolute;
    content: "";
    display: block;
    width: 0.26rem;
    height: 0.1rem;
    background: #0f9cff;
    border-radius: 0.05rem;
    bottom: -0.19rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header{
  background-color: #fff;
  .head-in{
    display: flex;
    width: $BanXinWidth;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .left-arrow-noPosition{
      width: 0.18rem;
      height: 0.18rem;
      border-color: $fontColorDeep;
    }
    p{
      position: relative;
      right: 50%;
      transform: translateX(50%);
      font-size: 0.32rem;
      color: $fontColorDeep;
      font-weight: bold;
    }
  }
}
.top-toolbar{
  height: 1.06rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  span{
    color: #0D182E;
    font-size: 0.26rem;
  }
}
.content{
  background-color: #F7F8FA;
  .content-in{
    width: $BanXinWidth;
    margin: 0 auto;
    .dai-c,.yi-c,.guo-c{
      .quan{
        margin-top: 0.09rem;
        background-color: #fff;
        height: 1.57rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
          background:url("../images/47-quan-lan.jpg") center/contain no-repeat;
          width: 2.11rem;
          height: 1.57rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .price{
            font-size: 0.32rem;
            color: #fff;
            .num{
              font-size: 0.64rem;
              font-weight: bold;
            }
          }
          .tiaojian{
            font-size: 0.23rem;
            color: #fff;
          }
        }
        .center{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
            height: 100%;
          h3{
            font-size: 0.28rem;
            font-weight: bold;
            color: #333333;

          }
          .timeout{
            margin-top: 0.32rem;
            color:#8F96A1;
            font-size: 0.23rem;

          }
        }
        .right{
          margin-right: 0.21rem;
        }
      }
    }
    .dai-c{
      .quan{
        .right{
          display: block;

          height: 0.46rem;
          width: 1.06rem;
          background:#0F9CFF;
          font-size: 0.24rem;
          line-height: 0.46rem;
          text-align: center;
          border-radius: 0.23rem;
          color: #fff;
        }
      }
    }
    .yi-c,.guo-c{
      display: none;
      .right{
        img{
          width: 1.08rem;
        }
      }
    }
    div.guo-c{
      position: relative;
      .zhao {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #666666;
        opacity: 0.01;
        z-index: 5;
      }
      .quan {
        div.left {
          background-image: url("../images/47-quan-hui.jpg") !important;
        }

        .center {
          h3{
            color: #999CA6;
          }
        }


      }
    }
  }
}