@charset "UTF-8";
/* CSS reset */
html {
  color: #000;
  background: #FFF;
  font-family: Arial,'Microsoft YaHei','宋体'; }

/*清除默认的内边距和外边距等*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong {
  padding: 0;
  margin: 0;
  font-family: 'Microsoft YaHei',Arial,'宋体'; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*清除默认边框*/
fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #000000;
  outline: none; }

/*此处待添加默认链接颜色*/
var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

/*清除默认的字体大小和文字粗细*/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none; }

/*去除移动端点击事件出现的背景框*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/*清除浮动*/
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

/*清除浮动的兼容IE*/
.clearfix {
  *zoom: 1; }

.right-arrow-noPosition {
  width: 0.1rem;
  height: 0.1rem;
  display: block;
  transform: rotate(45deg);
  border-right: 2px solid #999999;
  border-top: 2px solid #999999; }

.left-arrow-noPosition {
  width: 0.1rem;
  height: 0.1rem;
  display: block;
  transform: rotate(-45deg);
  border-left: 2px solid #999999;
  border-top: 2px solid #999999; }

.bottom-solid-triangle {
  border-top: 0.1rem solid #0D182E;
  border-left: 0.1rem  solid transparent;
  border-right: 0.1rem  solid transparent; }

.border {
  border: none !important;
  position: relative; }
  .border:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F9F9FB;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }

html {
  font-size: 13.3333333333vw; }

.active-bar {
  background-color: #0f9cff;
  color: #fff !important; }

.active-li {
  position: relative;
  color: #0F9CFF !important; }
  .active-li:after {
    content: "";
    display: block;
    position: absolute;
    right: -0.2rem;
    top: 50%;
    width: 0.16rem;
    height: 0.08rem;
    border-left: 0.01rem solid #0F9CFF;
    border-bottom: 0.01rem solid #0f9cff;
    transform: translate(50%, -50%) rotate(-45deg); }

.header {
  position: relative; }
  .header .head-in {
    height: 1.14rem;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; }
    .header .head-in .left-arrow-noPosition {
      width: 0.18rem;
      height: 0.18rem;
      border-color: #0D182E; }
    .header .head-in .title {
      font-size: 0.32rem;
      color: #0D182E;
      font-weight: bold; }
    .header .head-in .month {
      height: 100%;
      display: flex;
      align-items: center; }
      .header .head-in .month .text {
        font-size: 0.26rem;
        color: #0D182E;
        margin-right: 0.12rem; }
      .header .head-in .month .bottom-solid-triangle {
        border-width: 0.08rem;
        border-top-color: #41455B; }
  .header .month-droplist {
    display: none;
    background-color: #fff;
    position: absolute;
    right: 3%;
    width: 1.44rem;
    top: 100%;
    box-shadow: -0.05rem 0.01rem 0.05rem 0.01rem rgba(81, 91, 96, 0.13); }
    .header .month-droplist li {
      width: 100%;
      box-sizing: border-box;
      height: 0.55rem;
      display: flex;
      align-items: center; }
      .header .month-droplist li span {
        font-size: 0.26rem;
        color: #252B46;
        margin-left: 0.23rem; }

.top-toolbar {
  background-color: #fff; }
  .top-toolbar .bar-in {
    width: 95%;
    margin: 0 auto;
    height: 0.64rem;
    display: flex; }
    .top-toolbar .bar-in div {
      box-sizing: border-box;
      width: 25%;
      border: 1px solid #0F9CFF;
      line-height: 0.64rem;
      text-align: center;
      font-size: 0.26rem;
      color: #0F9CFF; }

.content {
  background-color: #fff; }
  .content .content-in {
    width: 95%;
    margin: 0 auto; }
    .content .content-in .all div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      height: 1.18rem;
      border-bottom: 1pt solid #f7f7f7; }
      .content .content-in .all div h3 {
        font-size: 0.26rem;
        color: #000A22;
        font-weight: bold; }
      .content .content-in .all div span {
        margin-top: 0.2rem;
        font-size: 0.24rem;
        color: #A8ACB1; }

/*# sourceMappingURL=53-yuejilu.css.map */
