// inphone6 按1rem=50px来算，2倍稿不用除2

*{
    font-family: 'PingFang','Microsoft YaHei',Arial,'宋体';
}

body{
    min-width: 320px;
}

@font-face {
    font-family: "iconfont"; /* Project id 2707884 */
    src: url('../fonts/17-fonts/iconfont.woff') format('woff2'),
         url('../fonts/17-fonts/iconfont.woff2') format('woff'),
         url('../fonts/17-fonts/iconfont.ttf') format('truetype');
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main{
    width: 95%;
    margin: 0 auto;
}



.search{
    height: 1.32rem;
    display: flex;
    position: relative;
    margin: .3rem auto;
    span{
        position: absolute;
        font-size: .46rem;
        color: #757575;
        top: .45rem;
        left: .4rem;
    }
    input{
        width: 100%;
        height: 1.32rem;
        outline: none;
        border: none;
        background-color: #F5F6FA;
        border-radius: 1.5rem;
        font-size: .48rem;
        padding-left: 1rem;
        color: #757575;
    }
}

.banner{
    position: relative;
    margin-top: .3rem;
    .pic{
        border-radius: 10px;
        width: 100%;
        height: 4.8rem;
        overflow: hidden;
        a{
            img{
                width: 100%;
            }
        }
    }
    ul{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: .4rem;
        display: flex;
        z-index: 9;
        .active{
            background-color: #fff;
        }
        li{
            width: .52rem;
            height: .12rem;
            border-radius: .2rem;
            margin: 0 .14rem;
            background-color: rgba($color: #ccc, $alpha: .6)
        }
    }
}

.nav{
    margin: .8rem auto;
    ul{
        display: flex;
        justify-content: space-between;
        .active{
            font-weight: 700;
            height: .5rem;
            border-bottom: 10px solid rgba(90, 190, 253,.7);
            font-size: .56rem;
        }
        li{
            font-size: .52rem;
        }
    }
}

.content{
    background-color: #f2f4f6;
    margin-bottom: 2.16rem;
    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        li{
            width: 6.9rem;
            height: 7rem;
            margin-top: .44rem;
            border-radius: .2rem;
            overflow: hidden;
            a{
                .top{
                    position: relative;
                    width: 100%;
                    height: 4.16rem;
                    .video_pic{
                        width: 100%;
                        height: 4.16rem;
                        overflow: hidden;
                        img{
                            width: 120%;
                        }
                    }
                    .msg{
                        width: 100%;
                        position: absolute;
                        bottom: .28rem;
                        z-index: 9;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        font-size: .4rem;
                        color: #fff;
                        .left{
                            margin-left: .24rem;
                        }
                        .right{
                            height: .58rem;
                            padding: 0 .1rem;
                            background-color: rgba($color: #000000, $alpha: .5);                        
                            text-align: center;
                            line-height: .58rem;
                            border-radius: .06rem;
                            margin-right: .24rem;
                        }
                    }
                }
                .bottom{
                    width: 100%;
                    height: 2.84rem;
                    padding: .3rem .3rem;
                    box-sizing: border-box;
                    background-color: #fff;
                    h1{
                        font-size: .48rem;
                        width: 5.74rem;
                        height: 1.4rem;
                        overflow: hidden;
                        margin-bottom: .1rem;
                    }
                    .other{
                        display: flex;
                        .headshot{
                            width: .72rem;
                            height: .72rem;
                            overflow: hidden;
                            border-radius: 50%;
                            img{
                                height: .72rem;
                                transform: translate(-0.1rem ,-0.2rem);
                            }
                            margin-right: .4rem;
                        }
                        span{
                            font-size: .44rem;
                        }
                    }
                }
            }
        }
    }
}