// inphone6 按1rem=50px来算，2倍稿不用除2

*{
    font-family: 'PingFang','Microsoft YaHei',Arial,'宋体';
    box-sizing: border-box;
}

body{
    min-width: 320px;
}

@font-face {
    font-family: "iconfont"; /* Project id 2707884 */
    src: url('../fonts/17-fonts/iconfont.woff') format('woff2'),
         url('../fonts/17-fonts/iconfont.woff2') format('woff'),
         url('../fonts/17-fonts/iconfont.ttf') format('truetype');
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main{
    width: 95%;
    margin: 0 auto;
}

.title{
    height: 1.6rem;
    display: flex;
    position: relative;
    a{
        position: absolute;
        display: flex;
        width: .3rem;
        height: 1.6rem;
        align-items: center;
        margin-left: .2rem;
        font-size: .56rem;
        color: #0D182E;
    }
    h1{
        flex: 1;
        font-size: .64rem;
        line-height: 1.6rem; 
        text-align: center;  
        color: #0D182E;
        font-weight: 700;
    }
}

.content{
    background-color: #f7f8fa;
    padding-top: .6rem;
    .main{
        border-radius: .2rem;
        li{
            background-color: #fff;
            padding: 0 .6rem;
            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #EEF3F6;
                padding: .6rem 0;
                span{
                    font-size: .52rem;
                }
                div{
                    display: flex;
                    align-items: center;
                    .pic{
                        display: inline-block;
                        width: 1.9rem;
                        height: 1.9rem;
                        overflow: hidden;
                        border-radius: 50%;
                        margin: .2rem 0;
                    }
                    .iconfont{
                        transform: rotate(180deg);
                        color: #BBBFCD;
                        margin-left: .2rem;
                    }
                }
            }
        }
    }
}