/* 样式重置 */
@import "reset";
 // 基础代码,原子类
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

.fl{float: left;}
.fr{float: right;}
body,html{
	height: 100%;
	font-size:(100vw/7.5);
}
body{
	font-size: 0.26rem;
	font-family: PingFang;
	background-color: #F7F8FA;
	width: 100%;
	margin: 0 auto;
}
// 自己的业务代码
.container{
	
	// 顶部
	.top{
		width: 100%;
		height: 1.8rem;
		background-color: #FFFFFF;
		padding: 1rem 0 0.22rem 0;			
		
		.title{
			width: 95%;
			margin: 0 auto;
			display: flex;
		    justify-content: space-between;
			span{
			text-align: center;
			color: #222222;
			font-size: 0.32rem;	
		    }
		}
		
	}
	
	
	
	// 中间内容
	.content{
		width: 95%;
		height: 5.9rem;
		margin: 0.24rem auto;
		background-color: #FFFFFF;
		padding-top: 0.4rem;
		
		.list{
			margin: 0 0.2rem;
			ul{
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #EEF3F6;
				li{
					margin: 0.26rem auto;
					
					button{
					width: 2rem;
					height: 0.6rem;
					background-color: #F6F6F9;
					border: 0;
					&.active{
						color: #0F9CFF;
						background-color: #E7F5FF;
					}
					}
					
				}
				
			}
		}
		
	}
	.tel{
		
		width: 95%;
		height: 0.96rem;
		margin: 0.24rem auto;
		background-color: #FFFFFF;
		
		display: flex;
		justify-content: space-between;
		line-height: 0.96rem;
		p{
			margin: 0 0.2rem;
		}
		
	}
	.bottom{
		
		button{
			
			width: 95%;
		    height: 0.86rem;
			border-radius: 0.44rem;
			background-color: #0F9CFF;
			border: 0;
			color: #FFFFFF;
			
			position: fixed;
			bottom: 0.2rem;
			left: 50%;
			transform: translateX(-50%);
		}
		
	}
}
	
	
	
	

